@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

@keyframes up-to-bottom{
    from {
        transform: translateY(-500px);
    }
    to{
        transform: translateY(0px);
    }
}
*
{
    margin: 0;
    padding:0;
}
body,html
{
    height: 100%;
}
body
{   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#fff;
    background-size: 100%;
    background: url(../background.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins'
}
.time
{
    display: flex;
    font-size:1.8em;
    margin-left: 2%;
}


.container
{
    width: 100%;
    max-width: 680px;
    height:800%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation:3s up-to-bottom;
    overflow:hidden;
}
.title {
    font-size: 2em;
    position: absolute;
    top:40px;
    animation: 3s up-to-bottom;
}

/* Style buttons */
.buttons
{
    display:flex;
    margin-top:10%;
    margin-left: 5%;
}
#reset {
    background-color: #a6a6a6;
}

#start
{
    background-color:#339933;
}

#stop
{
    background-color:#f00;
}

.button
{
    transition: .5s;
    font-size: 1em;
    width:6rem;
    cursor:pointer;
    font-weight: 900;
    height:4em;    
    outline:none;
    color:#fff;
    border: none;
    margin-right: 25px;
}
.button:hover {
    transform: scale(1.1,1.1);
}
@media (max-height:550px){
    body {
        font-size: 75%;
    }
    .title {
        position:static;
        top:none;
    }
    .container {
        justify-content: space-evenly;
    }
}